name: Check typos

permissions:
  contents: read

concurrency:
  group: typos-${{ (github.ref == 'refs/heads/master' && github.sha) || (github.event_name == 'pull_request' && github.head_ref) || github.ref }}
  cancel-in-progress: false

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "master"
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "true"
          persist-credentials: false
      - name: typos-action
        uses: crate-ci/typos@ad3053d3adbcce7f2e3c60fd4ddfc239787d1eff # v1.43.2

